extends ../node_modules/jade-bootstrap/_bootstrap

append body
    script.
        $.formUtils.addValidator({
            name: 'checkGCD',
            validatorFunction: function(value, $el, config, language, $form) {
                return (gcd(value, 26) == 1);
            },
            errorMessage: 'Enter a such that GCD(a, 26) = 1',
            errorMessageKey: 'badNumber'
        });
        $(document).ready(function() {
            $.validate({
                modules : 'toggleDisabled',
                form: '#form'
            });
            $('.hide').hide();
            $('#button1').click(function() {
                $('#author').css('display', 'block');
            });
        });

    // Navigation bar
    nav(class=["navbar", "navbar-inverse", "navbar-fixed-top"])
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#undefined", aria-expanded="false", aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#")= "Playground"
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class=["dropdown", active])
                        a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")= "Toybox"
                            span.caret
                        ul.dropdown-menu(role="menu")
                            li
                                a(href="#", role="button")= "Placeholder"
                    li
                        a(href="https://github.com/iDoraemon", role="button", aria-expanded="false")= "GitHub"

    // Carousel
    .carousel(id="carousel-01", data-ride="carousel", class="slide")
        .carousel-inner(role="listbox")
            .item.active(style="height: 250px")
                img(src="http://i.huffpost.com/gen/2577354/images/o-ENCRYPTION-facebook.jpg", style="width:100%")
            .item(style="height: 250px")
                img(src="http://tech.eu/wp-content/uploads/2014/04/ZenMate.jpg", style="width:100%")
            .carousel-caption
                h1 Information Security
                p Practical Exercices
        a.left.carousel-control(href="#carousel-01", role="button", data-slide="prev")
            +icon("chevron-left")
            span.sr-only Previous
        a.right.carousel-control(href="#carousel-01", role="button", data-slide="next")
            +icon("chevron-right")
            span.sr-only Next

    // Main
    .container
        +tab-list(["Problem 3.4.2", "Problem 3.4.3", "Problem 3.4.4", "Problem 3.4.5"],0)

            // Tab 1
            +tab("0","active")
                br
                +label-info("Detail")
                .row.container
                    br
                    ul
                        li Use strong affine cipher.
                        li Assume the mapping of A - 0, B - 1, C - 2, ..., Z - 25.
                        li <i><strong>a = 9</strong></i> and <i><strong>b = 2</strong></i>
                br
                +label-danger("Answer")
                .row.container
                    br
                    .col-md-12
                        .form-group
                            .input-group
                                input.form-control(type="text", id="code1", value='NYSYXDSYAXDKYALMWVKYADWDPROPYSNYSYXDKYACZM', readonly)
                                span.input-group-btn
                                    button.btn.btn-default(type="button",aria-label="eye-open", onclick="decrypt_01()", id="button1")
                                        +icon("eye-open")
                                input.form-control(type="text", id="result1", placeholder="Encrypted text will be displayed here", readonly)
                div(id="author" style="display:none")
                    p This quote is said by Satchel Paige

            // Tab 2
            +tab("1")
                br
                +label-info("Detail")
                .row.container
                    br
                    ul
                        li Encrypt your first, middle, and last names using a shift cipher.
                        li Concatenate the three names with no punctuation marks or spaces.
                        li <i><strong>k = 7</strong></i>

                br
                +label-danger("Answer")
                .row.container
                    br
                    .col-md-12
                        .form-group
                            .input-group
                                input.form-control(type="text", id="code2", value="Le Minh Pham Hoang", placeholder="Enter your name")
                                span.input-group-btn
                                    button.btn.btn-default(type="button",aria-label="eye-open", onclick="decrypt_02()")
                                        +icon("eye-open")
                                input.form-control(type="text", id="result2", placeholder="Encrypted text will be displayed here", readonly)

            // Tab 3
            +tab("2")
                br
                +label-info("Detail")
                .row.container
                    br
                    ul
                        li Encrypt: "<i>The only thing we have to fear is fear itself</i>".
                        li Use affine cipher.
                        li Ignore punctuation marks and spaces.
                        li Get and validate <i><strong>a</strong></i>, <i><strong>b</strong></i> from user's input.
                br
                +label-danger("Answer")
                br
                form.toggle-disabled(id="form" action="#" onsubmit="return false;")
                    .row
                        br
                        .col-md-3
                        .col-md-6
                            .form-group
                                .input-group
                                    .input-group-addon
                                        = "a"
                                    input.form-control(type="number", id="param1", value="11", placeholder="Enter a", data-validation="checkGCD" )
                            .form-group
                                .input-group
                                    .input-group-addon
                                        = "b"
                                    input.form-control(type="number", name="b", id="param2", value="15", placeholder="Enter b", data-validation="required", data-validation-error-msg="Can't be left blank")
                        .col-md-3
                    .row
                        .col-md-12
                            .form-group
                                .input-group
                                    input.form-control(type="text", id="code3", value="The only thing we have to fear is fear itself", readonly)
                                    span.input-group-btn
                                        button.btn.btn-default(type="submit", id="button3", aria-label="eye-open", onclick="decrypt_03()")
                                            +icon("eye-open")
                                    input.form-control(type="text", id="result3", placeholder="Encrypted text will be displayed here", readonly)

            // Tab 4
            +tab("3")
                br
                +label-info("Detail")
                .row.container
                    br
                    ul
                        li What is the size of the key space of an affine cipher that uses the letters of the #[strong Greek alphabet]?
                br
                +label-danger("Answer")
                .row.container
                    br
                    p Since the Greek alphabet has 24 characters, the key space will be 24.

    // Footer
    footer.footer
        .container
            p.text-muted Le Minh Pham Hoang - SE03035 - CS0801